/* Elemen sepsifik selector */
/* cara lebih efektif selain dengan grub selector, yaitu dengan cara menggunakan spasi( ) sebagai tanda "di dalam", jika tag nya di bungkus oleh tag lain */
/* dibaca dari kiri */

/* tag Cite di dalam tag P di dalam tag article */
article p cite {
  color: aqua;
}

/* tag cite di dalam tag blockquote */
blockquote cite {
  color: blue;
}

/* tag p di dalam tag article */
article p {
  font-size: 24px;
}
