/* Universal Selector (*)  -->  Style akan digunakan di semua element HTML */

* {
  background-color: #f0f0f0;
}

/* Element Selector  -->  Style akan digunakan berdasarkan element HTML yg di pilih */

h2 {
  color: purple;
}

p {
  color: darkviolet;
}

/* Class selector (.)  -->  Style akan digunakan berdasarkan isi dari atribut 'class' yg ada pada element HTML */

.judul {    /* Untuk memanggil class selector dengan menuliskan titik(.) lalu nama class nya */
  color: teal;
  font-size: 25px;
  font-weight: bold;
}

.deskripsi {
  color: darkcyan;
}

/* ID Selector (#)  -->  Style akan di gunakan berdasarkan isi dari atribut 'id' yg ada di elemnt HTML */

#head { /* Untuk memanggil ID selector dengan menuliskan tanda pagar(#) lalu nama ID nya */
  color: gold;
  font-size: 25px;
  font-weight: bold;
}

#desc {
  color:goldenrod;
}
